:root {
    --AzulOscuro: #056EC2;
    --AzulClaro: #0B88ED;
    --celeste: #00AAE3;
    --verdeOscuro: #0C8F41;
    --verdeClaro: #11C358;
    --Blanco: #F0F2F5;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
/* icons */
.ContainerWidget{    
    background: none;
    background-size: 100% 100%;
    border: none;
    top: 460px;
    left: -25px;
}
.ContainerWidget2{    
    background: none;
    background-size: 100% 100%;
    border: none;
    top: 460px;
    left: 700px;
}
td
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    font-size: medium;
    font-weight: bold;  
    color: #e5e6f1;  
    text-shadow: 0.1em 0.1em #0a0a0a;
}

body {
    height: 95%;
    display: flex;
    place-content: center;
    background: url(../img/Fondo.jpg);
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* .ContainerPlayer1 {
    display: flex;
   
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
  
    border-radius: 20px;
} */
.ContainerPlayer2 {
    display: flex;
    /* width: 90%; */
    /* background-color: #0B88ED; */
    /* height: 90%; */
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
    /* box-shadow: 0px 4px 10px 15px rgb(0 0 0 / 45%); */
    border-radius: 20px;
}

.BtnPause {
    position: absolute;
    display: grid;
    place-content: center;
    background: url(../img/cartelMadera.png);
    background-size: 100% 100%;
    border: none;
    width: 12rem;
    height: 8rem;
    top: 2rem;
    right: 8%;
    transition: all 0.2s;
    cursor: pointer;
}

.BtnPause:hover {
    transform: rotate(-10deg);

}

.CanvasPlayGame {
    width: 100%;
    height: 100%;
    /* background-color: #11C358; */
    border-radius: 35px;


}
.ContainerMultiplayerRenders{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 170rem;
    height: 70rem;
    grid-column-gap: 2rem;
}

.labelCanvasPlayer{
 position: absolute;
 color: var(--Blanco);
 font-family: sans-serif;

 font-weight: 400;
 font-size: 2.5rem;
 text-shadow:
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
     top: 6.5rem;
}




.ContainerPlayer1{
    display: flex;
    width: 90%;
    /* background-color: #0B88ED; */
    height: 90%;
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
    box-shadow: 0px 4px 10px 15px rgba(0, 0, 0, 0.45);
    border-radius: 35px;
    /* height: 55rem;
    width: 50rem; */
}
.ContainerPlayer1 canvas{
    border-radius: 35px;

}

#scene-sectionPlayer1{
    display: flex;
    width: 90%;
    /* background-color: #0B88ED; */
    height: 90%;
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
    box-shadow: 0px 4px 10px 15px rgba(0, 0, 0, 0.45);
    border-radius: 35px;
}





/*****/


.ContainerPlayer2{
    display: flex;
    width: 90%;
    /* background-color: #0B88ED; */
    height: 90%;
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
    box-shadow: 0px 4px 10px 15px rgba(0, 0, 0, 0.45);
    border-radius: 35px;
    /* height: 55rem;
    width: 50rem; */
}
.ContainerPlayer2 canvas{
    border-radius: 35px;

}

#scene-sectionPlayer2{
    display: flex;
    width: 90%;
    /* background-color: #0B88ED; */
    height: 90%;
    justify-content: center;
    align-items: center;
    background: rgba(5, 110, 194, 0.5);
    box-shadow: 0px 4px 10px 15px rgba(0, 0, 0, 0.45);
    border-radius: 35px;
}