*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: url(../img/Fondo.jpg);
	  background-size: 100% 100%;
	  height: 100%;
    }
  
    .container{
      border-radius: .5em;
    }

    .table-fixed{
      height: 500px;
      overflow-y: auto;
    }
    
  
    table {
      display: inline-block;
      color:#d9ecf7;
      font-size: 22px;
      table-layout: fixed;
      border-collapse: collapse;
      background:rgba(5, 110, 194, 0.5); 
      margin: 28px;
      border-radius: 1.5em;
    }
  
    thead {
      background:#404a80;
    }
  
    th {
      padding: 20px 15px;
      font-weight: 700;
      text-transform: uppercase;

    }
  
    td {
      padding: 20px;
      border-bottom: solid 1px rgb(231, 231, 231);
      text-align:center;
    }
  
    tbody {
      cursor: pointer;
      border-radius: 1.5em;
    }
  
    tbody tr:hover {
      background: #72b0da  ;
    }
  


                                      /* loader cargando... */
     *,*:after *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #contenedor_carga{
     /* background:#0979b0 ;*/
     background: url(../img/mar.jpg);
    background-size: 100% 100%;  
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease ;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
  }
  
  #carga{
  border: 15px solid #43acdd;
  border-top-color: #2071ce;
  border-top-style:outset;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
  }
  
  @keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  #cargando{
    color: rgb(107, 210, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 60%;
    left: 44%;
  }
  #cargando{
      color: rgb(44, 180, 221);
      background: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2rem;
      position: absolute;
      top: 60%;
      left: 44%;
    }